/* Topbar */
.locale-picker {
    position: absolute !important;
    right: 0;
    margin: 9px;
    height: 30px;
  }
  
  .locale-picker img {
    height: 30px!important;
  }
  
  .locale-picker .ui.dropdown .menu {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    margin-top: 0.5em !important;
  }
  
  /* Menu */
  .ui.huge.menu .locale-picker .ui.dropdown .menu > .item {
    padding: 0 !important;
    height: 10em;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  .ui.huge.menu.fixed {
    background-color: #212121;
    height: 60px;
    box-shadow: none;
    border: none;
  }
  
  .ui.huge.menu {
    padding-right: 4rem;
  }
  
  .ui.huge.menu .item {
    color: rgb(253, 238, 80);
  }
  
  .ui.huge.menu a:hover {
    color: white;
  }
  
  .ui.huge.menu a {
    color: white;
    text-decoration: none;
    line-height: 1 !important;
  }
  
  /* .ui.huge.menu.menu a:hover {
    background: #212121; */
  /* } */
  
  /* Body */
  body {
    margin-top: 5em;
    height: auto;
    overflow-y: scroll !important;
    overflow-x: auto;
  }
  
  /* Inputs */
  input:disabled {
    opacity: 1 !important;
  }
  
  /* Grid */
  .css-small-row {
    padding-top: 0 !important;
    padding-bottom: 0.5em !important;
  }
  
  .css-nomargin-grid > .row {
    padding: 0 !important;
    padding-bottom: 0.5em !important;
  }
  
  .css-compact-grid .column {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
  }
  
  /* Hover to display */
  .hover-to-display {
    position: relative;
  }
  
  .hover-to-display > div.to-display {
    opacity: 0;
  }
  
  .hover-to-display > div.to-hover {
    inset: 0;
    position: absolute;
    pointer-events: none;
    color: gray;
  }
  
  .hover-to-display:hover > div.to-display {
    opacity: 1;
  }
  
  .hover-to-display:hover > div.to-hover {
    opacity: 0;
  }
  
  /* Footers */
  .footer {
    color: white;
    opacity: 70%;
    font-size: 12.6px;
    pointer-events: none;
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .footer-item {
    width: 33.3%;
    margin: 1em;
  }
  
  .footer-item:nth-child(2) {
    text-align: right;
  }

  /* my styles */
  .myContainer {
    height: 500px;
  }

  body {
    overflow: hidden;
    background-image: url('../images/honeyBuzzPoggles.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .ui.main.container {
    width: 300px;
    height: 500px;
  }

  .spacer {
    height: 150px;
  }

  .ui.button {
    background-color: rgb(165, 228, 233);
  }

  .ui.mainMenu.button {
    width: 100%;
    border-radius: 100px;
    margin: 25px;
    height: 100px;
  }

  .ui.two.columns.stackable.grid {
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 100px;
}

.ui.two.columns.stackable.grid .content {
    width: 100%;
    max-width: calc(100% - 600px);
    margin: 0 auto;
}

.field {
    width:10%;
}

.ui.dropdown.custom-background {
    background-color: rgb(165, 228, 233)
}

.ui.inverted.form input.custom-background {
    background-color: rgb(165, 228, 233);
}

.ui.checkbox label, .ui.inverted.form label {
    color: black;
    margin-bottom: 0px;
}

.field input.custom-background::placeholder {
    color: black;
}

/* .ui.two.columns.stackable.grid > .oddForm{
    background-color: rgba(253, 238, 80, 0.13);
} */

.ui.submit.button {
    background-color: rgb(169, 250, 149);
    margin-left: 242px;
    margin-top: 5px;
}